<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.irof.irof_history"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="16" />
		
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- //nakamap用 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".IrofActivity"
            android:label="@string/title_activity_irof" 
            android:screenOrientation="portrait"
            android:launchMode="singleTask"
		    android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|fontScale|uiMode">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <receiver android:name="com.irof.util.HeadsetStateReceiver" android:enabled="false">
			<intent-filter>
        		<action android:name="android.intent.action.HEADSET_PLUG"/>
		    </intent-filter>
		</receiver>
        
        <!-- チャットアクティビティ -->
        <activity
            android:name="com.kayac.nakamap.sdk.activity.NakamapActivity"
            android:screenOrientation="portrait"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            >
            <intent-filter>
                    <action android:name="android.intent.action.VIEW"/>
                    <category android:name="android.intent.category.DEFAULT" />
                    <category android:name="android.intent.category.BROWSABLE" />
                    <data android:scheme="@string/nakamap_scheme"/>
            </intent-filter>
        </activity>
        
        <!-- //AdMob -->
        <activity android:name="com.google.ads.AdActivity" 
                  android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"/>

        <receiver android:name="com.admob.android.ads.analytics.InstallReceiver" android:exported="true">
			<intent-filter> 
		    	<action android:name="com.android.vending.INSTALL_REFERRER" />
			</intent-filter> 
		</receiver>
		
    </application>

</manifest>